//@import 'scss/reset';
//@import 'scss/base';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

section {
  height: 100vh;
  padding: 10em;
}

.custom-h2 {
  opacity: 0;
  transition: opacity 6s;
}

.class-call-h2 {
  opacity: 1;

}