body {
  background-color: #09203f;
  color: white;
}
section:first-of-type {
  height: 100vh;
  padding: 10em;
}

section {
  padding: 10em;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card{
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
  border: none;
}

.icon-custom{
  max-height: 150px;
}

.list-element{
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
}