@import 'scss/reset';
@import 'scss/base';

@font-face {
  font-family: "JetBrains";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
  --white: #FDFDFD;
  --gray: #6E6E6E;
}

body {
  font-family: "JetBrains";
}
/* ***************************************
****************** DRAG ******************
*************************************** */
#page {
  display: grid;
  height: 100%;
  grid-template-areas: 
  'explorer leftdragbar content content'
  'explorer leftdragbar content content'
  'explorer leftdragbar content content'
  'explorer leftdragbar content content'
  'bottomdragbar bottomdragbar bottomdragbar bottomdragbar'
  'console console console console';
  grid-template-columns: 15em 6px auto auto;
  grid-template-rows: auto auto auto auto 6px auto;
  background-color: blue;
}

#explorer {
  grid-area: explorer;
  overflow: auto;
  background-color: var(--gray);
  color: var(--white);
  border: 6px solid;
  border-color: var(--white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#content {
  grid-area: content;
  overflow: auto;
  background-color: green;
}

#console {
  grid-area: console;
  overflow: auto;
  background-color: yellow;
}

#leftdragbar {
  grid-area: leftdragbar;
	cursor: ew-resize;
}

#bottomdragbar{
  grid-area: bottomdragbar;
	cursor: ns-resize;
}

/* ***************************************
****************** TREE ******************
*************************************** */
#ul-tree li > ul {
  margin-left: 1em;
}

.arrow {
  cursor: pointer;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 6px;
  margin-left: 6px;
}

.arrow-down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

/* ***************************************
**************** WINDOWS *****************
*************************************** */
.top{
  color: var(--gray);
  background-color: var(--white);
  padding: 10px;
}

.top::before {
  content: "";
  display: block;
  background: url("icons/javaeeToolWindow.svg");
  background-size: 100%;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}